<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>myMVVM</title>
  <script src="./dist/app.js"></script>
</head>
<body>
<div id="app">
 <div>msg{{msg}}msg{{message.name}}8888{{msg}}{{message.name}}</div>
  <!-- <div>{{message.name}}</div> -->
  <label>
    <input type="text" v-model="message.name">
  </label>
  <label>
    <input type="text" v-model="msg">
  </label>
</div>
<script>
  // console.log(MVVM)
  let vm = new MVVM({
    el: '#app',
    data: {
      msg: '123',
      message: {
        name: 'QY'
      }
    }
  })
</script>
</body>
</html>
